.TitreActivity{
    font-size: 15px;
    font-weight: 700;
}
.ValueActivity p {
    font-size: 14px;
    color: #74798C;
}
.ValueActivity{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 20px;
}
.legend{
    display: flex;
    justify-content: space-between;
}
.Chart1{
    background: #FBFBFB;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 630px;
}
.activity-tooltips{
    height: 70px;
	width: 50px;
	background-color: #e60000;
	font-weight: 500;
	font-size: 10px;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 10px 0;
	align-items: center;
}
