header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    width: 1024px;
}
header img{
    width: 150px;
}
header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-right: 20px;
}
header li{
    list-style-type: none;    
}
header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
