
.KeyItem{
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: #FBFBFB;
    padding: 20px;
}
.KeyItem img{
    width: 60px;
    height: 60px;
}
.KeyData{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Title{
    font-size: 14px;
    color: #74798C;
    margin: 3px;
}
.Value{
    font-size: 20px;
    font-weight: 700;
    margin: 3px;
}
