.UserName{
    margin: 40px 0px 0px 150px;
}
.UserName h1{
    font-size: 46px;
    margin: 20px 0px;
}
.UserName p{
    font-size: 16px;
}
.UserName span{
    color: #FF0101;
}
.UserData{
    display:flex;
    flex-direction: raw;
    gap: 20px;
    justify-content: space-between;
    margin-left: 150px;
}
.UserChart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.Chart2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}