.container1{
	position: relative;
	background: #ff0000;
	border-radius: 5px;
	height: fit-content;
}
.title{
    position: absolute;
	font-weight: 500;
	font-size: 15px;
    width: 150px;
	padding: 25px 0px 0px 25px;
    margin: 0px;
	color: rgba(255, 255, 255, 0.5);
}
.diagramme{
padding-top: 60px;
}
.sessions-tooltips {
    background-color: #fff;
    padding: 1rem;
    font-size: 10px;
}