.container3{
    position: relative;
    background: #FBFBFB;
    border-radius: 5px;
    height: fit-content;
}
.ScoreTitle{
    font-size: 15px;
    font-weight: 700;
    margin: 25px 0px 0px 25px;
}
.objectif{
    position: absolute;
    top: 30%;
    left: 21%;
    text-align: center; 
    color:#74798C;
    font-weight: 700;
    background-color:white;
    border-radius: 50%;
    padding: 33px;
}
.objectif span{
    color: #282D30;
    font-size: 16px;
}
.objectif p {
    margin: 0px;
    font-size: 14px;
}

