.container2{
    position: relative;
    background: #282D30;
    border-radius: 5px;
    padding: 5px;
    height: fit-content;
}

.recharts-polar-radius-axis {
    visibility: hidden;
}
.recharts-polar-grid-angle{
    visibility: hidden;
}